@page "/hireme"
@page "/about"

<PageTitle>Hire Me</PageTitle>

<div class="container shadow-lg bg-light">
    <h1>
        Hire Me
    </h1>
    <p>
        I love working with software and I may be available for hire.
        <a href="mailto:dsschnau@gmail.com?subject=Inquiry For Work&body=Hi Dan, I'm interested in hiring you. Can we set some time to discuss%3f"
            target="_blank">
            Contact me</a> for more information.
    </p>

    <p>Download my resume <a href="~/DanSchnau_Resume_Public.pdf">here</a>.</p>

    <img class="rounded-start" src="/img/selfie_compressed.jpg" alt="selfie of me, Dan Schnau" />

    <h2>
        Endorsements
    </h2>
    <ul>
        <li>
            <figure>
                <blockquote class="blockquote">
                    <p class="fs-6">
                        If you find yourself reading this and you’re wondering why you should hire Dan, please allow me to help.
                    </p>
                    <p class="fs-6">
                        I had the privilege of getting to work with Dan for three years. Dan is going to show up every. single. day. If you value people that are going to be open and honest, then Dan is a good fit for your company.
                    </p>
                    <p class="fs-6">
                        On multiple occasions, I’ve gotten to be part of watching Dan rise to the occasion as an individual contributor and as a leader. If you’re looking for someone who can execute at the tactical level, this is the right person.
                    </p>
                    <p class="fs-6">
                        In the times when I’ve had the chance to coach Dan as a lead, he rose to the challenge in responding to feedback, internalized it, and then applied it. His potential for growth is immense.
                    </p>
                    <p class="fs-6">
                        Dan is someone who will show up for you everyday.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Zoey McCullough on <cite title="LinkedIn"><a href="https://www.linkedin.com/in/zoey-m-3349ba1a/">LinkedIn</a></cite>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <blockquote class="blockquote">
                    <p class="fs-6">
                        Dan is a passionate and driven engineer.
                    </p>

                    <p class="fs-6">
                        I worked with Dan and his team over a period of 5 years. He was an engineer and I was a Product Manager. Over the period I saw Dan's passion and commitment to delivering well thought out and high quality software solutions. He was a leader in making sure work was thoroughly discussed, understood and clearly written out before the engineers took it out.
                    </p>

                    <p class="fs-6">
                        Dan embodies the 'Customer's First' motto. There were times when business teams needed engineering help to resolve customer problems and Dan was the first one to step up and resolve issues. I know that his efforts were appreciated by many teams across the organization.
                    </p>

                    <p class="fs-6">
                        Beyond the great work ethic, quality of software engineering, Dan is the type of genuine and friendly person that I would have on my team any day. I strongly recommend that you add Dan to your team and organization.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Anurag Kulkarni on <cite title="LinkedIn"><a href="https://www.linkedin.com/in/kulkarnianurag/">LinkedIn</a></cite>
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <blockquote class="blockquote">
                    <p class="fs-6">
                        I've worked with Dan at two distinct companies, and I've observed his commitment to his role, colleagues, and personal growth.
                    </p>
                    <p class="fs-6">
                        Dan is someone who steps up when it's needed most. When our team faced an unexpected departure, he took on leadership responsibilities to ensure his team kept operating smoothly. He cares about the people around him and puts their concerns and needs at the forefront; his human-centric approach to work is a great culture-add. His technical capabilities have been an asset to projects he's been involved with, which most recently included building the end-to-end buy flow and subscription management for a new SaaS product.
                    </p>
                    <p class="fs-6">
                        Dan has a solid blend of tech smarts and people skills that are sure to contribute to many successful projects in the future.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Adam Prescott on <cite title="LinkedIn"><a href="https://www.linkedin.com/posts/adam-prescott-61203026_good-news-im-on-the-market-activity-7102785201998585856-wkCh?utm_source=share&utm_medium=member_desktop">LinkedIn</a></cite>
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <blockquote class="blockquote">
                    <p class="fs-6">
                        Dan is awesome, good at what he does and someone you can lean during directionless times :-)
                        If you’re looking for an Engineering leader, senior dev, - he’s the guy!
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Vignesh Sundaram on <cite title="LinkedIn"><a href="https://www.linkedin.com/posts/vigneshiiyer_good-news-im-on-the-market-activity-7102865807021416448-QqEM?utm_source=share&utm_medium=member_desktop">LinkedIn</a></cite>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <blockquote class="blockquote">
                    <p class="fs-6">Dan is a great engineer. Flexible, problem solver, smart, considerate, and strategic are just a few of the words and phrases that come to mind when I think of project where I have seen Dan in action.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Brian Hartel on <cite title="LinkedIn"><a href="https://www.linkedin.com/posts/brian-hartel_good-news-im-on-the-market-activity-7103558921386135552-tPAX?utm_source=share&utm_medium=member_desktop">LinkedIn</a></cite>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <blockquote class="blockquote">
                    <p class="fs-6">I've worked with Dan and he's an exceptional developer and a fun person to be around. It's easy to work with him. Hire him, you will not regret it.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Robert Finger on <cite title="LinkedIn"><a href="https://www.linkedin.com/in/robert-finger-56367176/">LinkedIn</a></cite>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <blockquote class="blockquote">
                    <p class="fs-6">
                        Dan always bring a positive attitude to the table. That means a lot when stuff gets real.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Jeffrey Johnson on <cite title="LinkedIn"><a href="https://www.linkedin.com/feed/update/urn:li:activity:7102767493508677632?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A7102767493508677632%2C7103418637931212800%29&dashCommentUrn=urn%3Ali%3Afsd_comment%3A%287103418637931212800%2Curn%3Ali%3Aactivity%3A7102767493508677632%29">LinkedIn</a></cite>
                </figcaption>
            </figure>
        </li>
    </ul>

    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top py-2">
        <span>"Hire Me" last updated September 6, 2023.</span>
        <a href="/">Go to the Home Page.</a>
    </footer>

</div>


@code {

}
